body{
    background-color: #000000;
}
h1{
    text-align: center;
    color:white;
}
div {
    display: inline-block;
}

#piechart{
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row{
    width: 100%;
}

.filterreset{
    /*font-style: none;*/
    margin: 0px;
    font-size: large;
    text-align: center;
}

.whitetext{
    color:white;
}
.manusales{
    /*padding: 50px;*/
}
.pubsales{
    padding: 0px;
}
.yearsales{
    padding-left: 0px;
}

.dc-chart .axis line, .dc-chart .axis path {
    stroke: white;
}

.dc-chart g.row text {fill: white;}

svg text {
    fill: white;

}