body{
    background-image: url("../media/bg.png");
    background-color: #000000;
}

h1{
    text-align: center;
    background-color: #1f77b4;
    color:white;
    line-height: 2;
    margin:0;
    font-weight: bolder;
}
h2{
    text-align: left;
    color:white;
}
h3{
    text-align: left;
    color:white;
}
div {
    display: inline-block;
}
hr{
    background-color: #1f77b4;
    color: #1f77b4;
}
.tophr{
    color: black;
    margin: 0;
}
section{
    padding: 20px;
    background-color: black;
    color:white;
    border: dotted;
    border-color: #1f77b4;
}
article{
    text-align: center;
    font-size: 1.25em;
}

a, a:visited{
    text-decoration: none;
    color:black;
}
a:hover, a:focus{
    text-decoration: none;
    color: white;
}
button{
    text-decoration: none;
    background-color: white;
    color: black;
    border-color: #1f77b4;
    font-family: sans-serif;
    font-size: 1.5em;
}
button:hover, a:visited, a:focus{
    background-color: #1f77b4;
    border-color: white;
    color:white;
}
button a:visited{
    color:white;
}
#piechart{
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row{
    width: 100%;
}

#radgrad {
  background: #45bbff; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#000000, #125688, #45bbff); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#000000, #125688, #45bbff); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#000000, #125688, #45bbff); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#000000, #125688, #45bbff); /* Standard syntax */
}

.filterreset{
    /*font-style: none;*/
    margin: 0px;
    font-size: large;
    text-align: center;
}

.whitetext{
    color:white;
}
.manusales{
    font-size: 1.5em;
}
.pubsales{
    padding: 0px;
}
.yearsales{
    padding-left: 0px;
}

.dc-chart .axis line, .dc-chart .axis path {
    stroke: white;
}

.dc-chart g.row text {fill: white;}

svg text {
    fill: white;

}

/* Bootstrap overwrite */
section.row.col-12{
    margin: 0;
}